/* {{{ GLOBAL STYLE */

html, body {
  font-family: sans-serif;
  background-color: #aaa;
  padding: 0; margin: 0;
}

h1, h2 {
  display: none;
}

/* }}} */

/* {{{ TOP LEVEL SECTIONS */

#programs_section, #tokens_section, #errors_section {
  padding: 0.5em;
  overflow: auto;
  background-color: white;
}

#tokens_section {
  position: fixed;
  left: 0; top: 0; bottom: 25%;
  margin-right: 0.5em;
  margin-bottom: 0.125em;
  right: 33%;
  padding-left: 0;
  padding-right: 0;
}

#errors_section {
  position: fixed;
  left: 0; bottom: 0; top: 75%;
  margin-top: 0.125em;
  margin-right: 0.5em;
  right: 33%;
}

#programs_section {
  position: fixed;
  right: 0; top: 0; bottom: 0;
  margin-left: 0.5em;
  left: 66%;
  background-color: #777;
}

#programs {
  font-size: 80%;
}

#programs > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#programs > li {
  margin: 0;
  padding: 0;
}

/* }}} */

/* {{{ APPEARANCE OF AST NODES */

/* reset any margins/padding and font size */
.ast_node * { 
  margin: 0; padding: 0; font-size: 100%;
}

.ast_node {
  border: 1px solid #ccc;
  background-color: #ddd;
}

/* Funky CSS to make things web 2.0 :) */
.ast_node,
.ast_node > .description > .children {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.ast_node > .description,
.ast_node > .description > .children > ul {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
}

.ast_node > .location {
  display: none;
}

.ast_node ul {
  list-style-type: none;
}

.ast_node ul > li {
  margin-bottom: 0.5em;
}

.ast_node > .description, .ast_node > .type {
  padding: 0.1em 0.5em;
  padding-top: 0.2em;
}

.ast_node > .type {
  display: block;
  font-size: 100%;
}

.ast_node > .type,
.ast_node > .description > .children > .label {
  font-weight: normal;
}

.ast_node > .type:first-letter {
  text-transform: uppercase;
}

.ast_node > .description {
  border-top: 1px solid #ccc;
  background-color: #eee;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.ast_node > .description > .label {
  display: none;
}

.ast_node > .description p {
  margin: 0.5em 0em;
}

.ast_node > .description > .children {
  border: 1px solid #bbd;
  background-color: #cce;
  margin: 0.5em 0em;
}

.ast_node > .description > .children > .label, 
.ast_node > .description > .children > ul {
  padding: 0.1em 0.5em;
}

.ast_node > .description > .children > .label:first-letter {
  text-transform: uppercase;
}

.ast_node > .description > .children > ul {
  display: block;
  background-color: #ddf;
  border-top: 1px solid #bbd;
  margin-top: 0.1em;
  padding-top: 0.5em;
}

.ast_node > .description > .children > .label {
  padding: 0.1em 0.5em;
  padding-top: 0.3em;
  font-style: italic;
}

/* TREE SUPPORT */

.ast_node.tree-show > .type,
.ast_node.tree-collapse > .type,
.children.tree-show > .label,
.children.tree-collapse > .label {
  cursor: pointer; cursor: hand;
}

.ast_node.tree-show > .type,
.children.tree-show > .label {
  background-image: url(tri-down.png);
  background-position: 0% 60%;
  background-repeat: no-repeat;
  margin-left: 0.5em !important;
  padding-left: 10px !important;
}

.ast_node.tree-show > .description,
.children.tree-show > ul { 
  display: block !important;
}

.ast_node.tree-collapse > .description,
.children.tree-collapse > ul {
  display: none !important;
}

.ast_node.tree-collapse > .type,
.children.tree-collapse > .label {
  background-image: url(tri-right.png);
  background-position: 0% 50%;
  background-repeat: no-repeat;
  margin-left: 0.5em !important;
  padding-left: 10px !important;
}

.children.tree-collapse > ul { 
  display: none !important;
}

/* }}} */

/* {{{ SYNTAX HIGHLIGHTING OF TOKENS */

#tokens_section #tokens {
  font-family: monospace;
  width: 100%;
  border-spacing: 0pt;
}

#tokens .line .contents {
  padding-right: 1ex;
}

#tokens .line .number {
  font-size: 66%;
  text-align: right;
  font-family: sans-serif;
  color: #ccc;
  padding: 0ex 1ex;
}

#tokens_section .line:nth-child(even) {
  background-color: #eee;
}

.token {
  background: inherit;
}

.token.line_break::before {
  content: "↵";
  color: #aaa;
}

.token.glyph {
  color: #960;
}

.token.integer {
  color: black;
  background-color: #ccffcc;
}

.token.real {
  color: black;
  background-color: #ccccff;
}

.token.whitespace {
  color: red;
}

.token.comment {
  color: #060;
  font-style: italic;
}

.token.identifier {
  color: black;
}

.token.string {
  color: #060;
}

/* reserved words */
.token.called,
.token.end,
.token.giving,
.token.gobbet,
.token.if,
.token.implement,
.token.make,
.token.only,
.token.taking,
.token.with,
.token.while
{
  color: blue;
}

.token:hover {
  background-color: #ddd;
}

#tokens .error {
  background-image: url(red-underline.gif);
  background-position: bottom left;
  background-repeat: repeat-x;
}

#tokens .warning {
  background-image: url(red-underline.gif);
  background-position: bottom left;
  background-repeat: repeat-x;
}

/* }}} */

/* {{{ ERROR LIST */

#errors_section ul, #errors_section li {
  margin: 0; padding: 0;
}

#errors_section ul {
  list-style-type: none;
}

#errors_section li {
  padding: 0.25em 0em;
  border-bottom: 1px solid #ddd;
}

#errors_section .tokens {
  display: none;
}

#errors_section .error {
  color: red;
}

/* }}} */

/* vim:sw=2:ts=2:autoindent:et:foldmethod=marker
 */
