/* {{{ GLOBAL STYLE */

html, body {
  font-family: sans-serif;
  background-color: #aaa;
  padding: 0; margin: 0;
}

h1, h2 {
  display: none;
}

/* }}} */

/* {{{ TOP LEVEL SECTIONS */

#programs_section, #tokens_section, #errors_section {
  padding: 0.5em;
  overflow: auto;
  background-color: white;
}

#tokens_section {
  position: fixed;
  left: 0; top: 0; bottom: 25%;
  margin-right: 0.5em;
  margin-bottom: 0.125em;
  right: 33%;
}

#errors_section {
  position: fixed;
  left: 0; bottom: 0; top: 75%;
  margin-top: 0.125em;
  margin-right: 0.5em;
  right: 33%;
}

#programs_section {
  position: fixed;
  right: 0; top: 0; bottom: 0;
  margin-left: 0.5em;
  left: 66%;
  background-color: #777;
}

#programs {
  font-size: 80%;
}

#programs > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#programs > li {
  margin: 0;
  padding: 0;
}

/* }}} */

/* {{{ APPEARANCE OF AST NODES */

/* reset any margins/padding and font size */
.ast_node * { 
  margin: 0; padding: 0; font-size: 100%;
}

.ast_node {
  border: 1px solid #ccc;
  background-color: #ddd;
  border-radius: 6px;
}

.ast_node > .location {
  display: none;
}

.ast_node ul {
  list-style-type: none;
}

.ast_node ul > li {
  margin-bottom: 0.5em;
}

.ast_node > .description, .ast_node > .type {
  padding: 0.1em 0.5em;
  padding-top: 0.2em;
}

.ast_node > .type {
  display: block;
  font-size: 100%;
}

.ast_node > .type,
.ast_node > .description > .children > .label {
  font-weight: normal;
}

.ast_node > .type:first-letter {
  text-transform: uppercase;
}

.ast_node > .description {
  border-top: 1px solid #ccc;
  background-color: #eee;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.ast_node > .description > .label {
  display: none;
}

.ast_node > .description p {
  margin: 0.5em 0em;
}

.ast_node > .description > .children {
  border: 1px solid #bbd;
  background-color: #cce;
  border-radius: 6px;
  margin: 0.5em 0em;
}

.ast_node > .description > .children > .label, 
.ast_node > .description > .children > ul {
  padding: 0.1em 0.5em;
}

.ast_node > .description > .children > .label:first-letter {
  text-transform: uppercase;
}

.ast_node > .description > .children > ul {
  display: block;
  background-color: #ddf;
  border-top: 1px solid #bbd;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-top: 0.1em;
  padding-top: 0.5em;
}

.ast_node > .description > .children > .label {
  padding: 0.1em 0.5em;
  padding-top: 0.3em;
  font-style: italic;
}

/* }}} */

/* {{{ SYNTAX HIGHLIGHTING OF TOKENS */

#tokens_section #tokens {
  white-space: pre;
  font-family: monospace;
  display: table;
  width: 100%;
}

#tokens_section .line {
  counter-increment: line;
  display: block;
}

#tokens_section .line::before {
  content: counter(line);
  font-size: 66%;
  text-align: right;
  font-family: sans-serif;
  color: #ddd;
  padding-right: 0.5em;
  padding-top: 0.2em;
  display: block;
  height: 1em;
  float: left;
  width: 2em;
}

#tokens_section .line:nth-child(even) {
  background-color: #f2f2f2;
}

.token.line_break::before {
  content: "↵";
  color: #aaa;
}

.token.glyph {
  color: #960;
}

.token.integer {
  color: black;
  background-color: #ccffcc;
}

.token.real {
  color: black;
  background-color: #ccccff;
}

.token.whitespace {
  color: red;
}

.token.comment {
  color: #060;
  font-style: italic;
}

.token.identifier {
  color: black;
}

.token.string {
  color: #060;
}

/* reserved words */
.token.called,
.token.end,
.token.giving,
.token.gobbet,
.token.if,
.token.implement,
.token.make,
.token.only,
.token.taking,
.token.with,
.token.while
{
  color: blue;
}

.token:hover {
  background-color: #ddd;
}

/* }}} */

/* {{{ ERROR LIST */

#errors_section ul, #errors_section li {
  margin: 0; padding: 0;
}

#errors_section ul {
  list-style-type: none;
}

#errors_section li {
  padding: 0.25em 0em;
  border-bottom: 1px solid #ddd;
}

#errors_section .error {
  color: red;
}

/* }}} */

/* vim:sw=2:ts=2:autoindent:et:foldmethod=marker
 */
