tokeniser_output {
  display: block;
  background-color: #888888;
  font-family: sans-serif;
}

file {
  display: block;
  margin: 0.5em;
  color: black;
  background-color: white;
  border: 1px solid #666666;
  padding-bottom: 0.25em;
}

file_name {
  display: block;
  padding: 0.25em 0.5em;
  background-color: #ddd;
  border-bottom: 1px solid #666666;
}

file_name::before {
  content: "File: ";
}

tokens {
  display: block;
  padding: 0.25em 0.5em;
  counter-reset: line;
}

tokens > line::before {
  counter-increment: line;
  content: counter(line);
  font-family: monospace;
  width: 3em;
  display: block;
  float: left;
  text-align: right;
  padding-right: 1em;
  font-size: 75%;
  padding-top: 0.5em;
  color: #888888;
}

tokens > line {
  display: block;
  min-height: 1.2em;
}

tokens > line:nth-child(odd) {
  background-color: #eee;
}

token {
  white-space: pre;
  font-family: monospace;
  position: relative;
  color: red; /* if we see any red tokens, we're in trouble */
}

token meta {
  display: block;
  visibility: hidden;
  position: absolute;
  top: 1.75em;
  left: 0;
  padding: 0.25em 0.5em;
  background-color: #333;
  opacity: 0.8;
  color: #ddd;
  font-size: 70%;
  font-family: sans-serif;
  font-style: normal;
  z-index: 1;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

token meta {
  content: string(token-type);
}

token meta > *::after {
  content: ", ";
}

token meta > *:last-child::after {
  content: "";
}

token meta type::before {
  content: "type: ";
}

token meta location::before {
  content: "loc: ";
}

token meta value::before {
  content: "value: ";
}

token meta location line::after {
  content: ":"; 
}

token meta location start::after {
  content: " - "; 
}

token:hover meta {
  visibility: visible;
}

token[type="LINE_BREAK"]::before {
  content: "↵";
  color: #99c;
  font-size: 75%;
  padding-left: 0.3em;
}

token[type="GLYPH"] {
  color: #960;
}

token[type="INTEGER"] {
  color: black;
  background-color: #ccffcc;
}

token[type="REAL"] {
  color: black;
  background-color: #ccccff;
}

token[type="WHITESPACE"] {
  color: red;
}

token[type="COMMENT"] {
  color: green;
  font-style: italic;
}

token[type="IDENTIFIER"] {
  color: black;
}

token[type="STRING"] {
  color: green;
}

/* reserved words */
token[type="CALLED"],
token[type="END"],
token[type="GIVING"],
token[type="GOBBET"],
token[type="IF"],
token[type="IMPLEMENT"],
token[type="MAKE"],
token[type="ONLY"],
token[type="TAKING"],
token[type="WITH"],
token[type="WHILE"]
{
  color: blue;
}

line:hover token {
  border-right: 1px solid #ccc;
  margin-right: -1px; /* magic to make the border effectively zero width */
}

line:hover token:first-child {
  border-left: 1px solid #ccc;
  margin-left: -1px; /* magic to make the border effectively zero width */
}

token:hover {
  background-color: #ccc;
}
