.*.swp
.CMakeLists.txt.swp
CMakeFiles/
Makefile
cmake_install.cmake
CMakeCache.txt
lib*.so
lib*.a
*.c
*.h
saf/saf.vapi
lib*.dylib
test/test_parser
test/test_tokeniser
editor/saf_editor
test/test_interpreter
saf/saf-1.0.gir
saf/saf-1.0.vapi
